:root {
    --fs-base: 20pt;
    --clr-text: white;
    --clr-body: #622b87;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--clr-body);
    color: var(--clr-text);
}

.main-block {
    font-size: var(--fs-base);
    width: 100%;
    height: 100vh;
}

header, .bottom div {
    padding: 10px;
    box-sizing: border-box;
}

header, .center {
    height: 20%;
}

.bottom {
    height: 60%;
}

header, .center, .bottom {
    width: 100%;
    text-align: center;
}

.center img, .bottom img {
    max-height: 100%;
    object-fit: cover;
}

.center img {
    width: 100%;
}

.bottom img {
    width: 75%;
    float: left;
}

.bottom div {
    float: left;
    width: 25%;
}